.nav {
	width: 50%;
	height: 50px;
	padding: 0 25%;
}

.nav li {
	float: left;
	width: 20%;
	height: 50px;
}

a {
	color: #000;
	text-align: center;
	height: 50px;
	font-size: 15px;
	line-height: 50px;
}

a:hover {
	background: #44dbd9;
}